body {
  margin: 0;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.phead {
  font-size: 30px;
}
.header__button {
  background: linear-gradient(
    to right,
    var(--first-color-alt),
    var(--first-color)
  );
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  justify-content: center;
}
.navbar-brand {
  margin-left: 200px;
}
.container-about {
  max-width: 1500px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  column-gap: 50px;
  row-gap: 100px;
  margin-bottom: 50px;
}

.about-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text--content {
  font-size: 24px;
}

.about-number {
  font-family: "Courier New", Courier, monospace;
  font-size: 86px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text-color-light);
}

.heading-tertiary {
  font-size: 32px;
  margin-bottom: 32px;
}

.financer {
  color: green;
  font-weight: bold;
}

.about-heading {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 42px;
}
.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}
